h1
{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
}
.Navigation a{
    color: black;
    font-size:30px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    text-decoration:solid;
    padding-bottom: 10px;
}

.Conference{
    text-align: center;
    background-image: url("../images/Conference background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10px;padding-bottom: 10px    
}
form{
font-weight: bold;color: black;font-size: 20px;
text-align: center;
background-color: aliceblue; 
position: relative;
top: 10px;
width: 500px;
height: 600px;
left: 610px;
}
.switch-btn {
    display: inline-block;
    width: 62px; /* ширина переключателя */
    height: 24px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 36px; /* высота кнопки */
    width: 36px; /* ширина кнопки */
    border-radius: 18px; /* радиус кнопки */
    background: #fff; /* цвет кнопки */
    top: -6px; /* положение кнопки по вертикали относительно основы */
    left: -6px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
  }
  .switch-on::after {
    left: 30px;
    background: #118c4e;
  }
