h1
{
text-align: center;font-size:40px;
}
nav{
    font-size:30px
}
.Conference{
    background-image: url("../images/Conference background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;    
}
.Registration{font-weight: bold;color: black;font-size: 20px;
text-align: center;
background-color: aliceblue; 
padding-top: 10px;

}
.sub{
    padding-top: 10px;padding-bottom: 10px
}