h1
{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
}
.Navigation a{
    color: black;
    font-size:30px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    text-decoration:solid;
    padding-bottom: 10px;
}

.Conference{
    text-align: center;
    background-image: url("../images/Conference background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10px;padding-bottom: 10px    
}
form{
font-weight: bold;color: black;font-size: 20px;
text-align: center;
background-color: aliceblue; 
position: relative;
top: 10px;
width: 500px;
height: 600px;
left: 540px;
}
